@{
    ViewBag.Title = "Users";
}

@section HeaderScripts{
    <script type="text/javascript">
        var url = {
            getAppUsers: '@Url.Content("~/Account/GetAppUsers")/',
            updateUserStatus : '@Url.Content("~/Account/UpdateUserStatus")/'
        };
    </script>
    <link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/responsive.bootstrap.min.css" rel="stylesheet" />
}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table id="appuserstbl" class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr> 
                            <td>id</td>
                            <td>User Name</td>
                            <td>Password</td>
                            <td>Email</td>
                            <td>Gender</td>
                            <td>Active</td>
                            <td>Activate/Deactivate</td>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script src="~/Scripts/Plugins/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Plugins/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Plugins/DataTables/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/Plugins/DataTables/responsive.bootstrap.min.js"></script>
    <script src="~/Scripts/Plugins/DataTables/dataTables.fixedHeader.min.js"></script>

    <script src="~/Scripts/Pages/home.js"></script>
}
